body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 800px; 
    margin: 40px auto;
}

.card {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
    cursor: pointer;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card.matched {
    background-color: #00ff00;
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.back {
    background-color: #333;
    color: #fff;
    transform: rotateY(0deg);
}

.card.flipped .front {
    transform: rotateY(0deg);
}

.card.flipped .back {
    transform: rotateY(180deg);
}
h1{
    text-align: center;
    font-weight: bolder;
    font-size: 4rem;
}
.player-info {
    text-align: center;
    margin: 20px 0;
    font-size: 1.5rem;
}

.player {
    display: inline-block;
    margin: 0 20px;
    padding: 10px 20px;
    transition: all 0.3s;
}

.player.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}
#reset-button{
    margin-left: 44%;
    border: none;
    background-color:#4CAF50;
    padding: 18px;
    border-radius:20px;
    width: 200px;
    font-size: 1rem;
    font-weight: bold;
}
#reset-button:hover{
background-color:red;
cursor:pointer;
}
@media (max-width:728px) {
    .game-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 9px; 
         width: 800px; 
     margin-left: 10px;
    } 
}
@media (max-width:724px) {
    .game-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 9px; 
         width: 800px; 
     margin-left: 10px;
    } 
    #reset-button{
        margin-left: 39%;
        border: none;
        background-color:#4CAF50;
        padding: 18px;
        border-radius:20px;
        width: 200px;
        font-size: 1rem;
        font-weight: bold;
    }    
}
@media (max-width:684px) {
    .game-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px; 
         width: 800px; 
        margin-left: 10px;
    }  
    h1{
        margin-left: 40px;
        font-weight: bolder;
        font-size: 3rem;
       
        width: 100%;
    }  
}
@media (max-width:484px) {
    h1{
        margin-left: 100px;
        font-weight: bolder;
        font-size: 3rem;
      
        width: 130%;
    } 
    .player {
        display: inline-block;
        margin: 0 20px;
margin-left: 59%;

width: 200px;
        padding: 10px 20px;
        transition: all 0.3s;
    } 
    #reset-button{
        margin-left: 59%;
        border: none;
        background-color:#4CAF50;
        padding: 18px;
        border-radius:20px;
        width: 200px;
        font-size: 1rem;
        font-weight: bold;
    }
}
@media (max-width:414px) {
    .game-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px; 
         width: 800px; 
        margin-left: 10px;
    }   
    h1{
        margin-left: 100px;
        font-weight: bolder;
        font-size: 3rem;
      
        width: 130%;
    }  
    .player {
        display: inline-block;
        margin: 0 20px;
      
margin-left: 59%;
border:1px solid black;
width: 200px;
        padding: 10px 20px;
        transition: all 0.3s;
    }
    #reset-button{
        margin-left: 69%;
        border: none;
        background-color:#4CAF50;
        padding: 18px;
        border-radius:20px;
        width: 200px;
        font-size: 1rem;
        font-weight: bold;
    }
}
@media (max-width:394px) {
    .game-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; 
         width: 800px; 
        margin: 40px auto;
    }   
}
@media (max-width:372px) {
    .game-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; 
         width: 800px; 
         margin-left: 94px;
    }  
    h1{
        margin-left: 100px;
        font-weight: bolder;
        font-size: 3rem;
       
        width: 130%;
    }  
    .player {
        display: inline-block;
        margin: 0 20px;
     
margin-left: 90%;
        padding: 10px 20px;
        transition: all 0.3s;
    }
}
@media (max-width:320px) {
    .game-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; 
         width: 800px; 
      margin-left: 94px;
    } 
    h1{
        margin-left: 100px;
        font-weight: bolder;
        font-size: 3rem;
      
        width: 199%;
    }  

    .player-info {
        text-align: center;
        margin: 20px 0;
        font-size: 1.5rem;
    }
    
    .player {
        display: inline-block;
        margin: 0 20px;
     
margin-left: 90%;
        padding: 10px 20px;
        transition: all 0.3s;
    }
    
    .player.active {
        background-color: #4CAF50;
        color: white;
        border-radius: 5px;
    }
    #reset-button{
        margin-left: 44%;
        border: none;
        background-color:#4CAF50;
        padding: 18px;
        border-radius:20px;
        width: 200px;
        font-size: 1rem;
        font-weight: bold;
    }
}
